
# Sources
*.c     linguist-vendored
*.cc    linguist-vendored
*.cxx   linguist-vendored
*.cpp   linguist-vendored
*.c++   linguist-vendored
*.hpp   linguist-vendored
*.h     linguist-vendored
*.h++   linguist-vendored
*.hh    linguist-vendored

# Compiled Object files
*.slo   linguist-vendored
*.lo    linguist-vendored
*.o     linguist-vendored
*.obj   linguist-vendored

# Precompiled Headers
*.gch   linguist-vendored
*.pch   linguist-vendored

# Compiled Dynamic libraries
*.so    linguist-vendored
*.dylib linguist-vendored
*.dll   linguist-vendored

# Compiled Static libraries
*.lai   linguist-vendored
*.la    linguist-vendored
*.a     linguist-vendored
*.lib   linguist-vendored

# Executables
*.exe   linguist-vendored
*.out   linguist-vendored
*.app   linguist-vendored
