# Ignore "configure" products
config.log
config.status
Makefile

# Ignore "make" products
*.o
citrix
closed_source_web_server_fuzz
dceoversmb
dltest
do_post
generic_chunked
generic_listen_tcp
generic_send_tcp
generic_send_udp
generic_web_server_fuzz
generic_web_server_fuzz2
gopherd
halflife
libdlrpc.so
libntlm.a
line_send_tcp
msrpcfuzz
msrpcfuzz_udp
ntlm2
ntlm_brute
pmspike
post_fuzz
post_spike
quake
quakeserver
sendmsrpc
ss_spike
statd_spike
sunrpcfuzz
webfuzz
x11_spike

